<div class="background">
  <h1 id='heading' class="text-center p-4">
    Tic Tac Toe
  </h1>
  <div class="main-app">
    <div class="left">
      <img id="player" src="assets/images/astronaut.jpg" alt="Italian Trulli">
    </div>

    <div class='center'>
      <app-board></app-board>
    </div>
    
    <div class="right">
      <img id="computer" src="assets/images/computer.jpg" alt="Italian Trulli">
    </div>

  </div>
</div>

<div class="footer">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
</div>