<style>
    table, th, td {
      border: 1px solid black;
    }
    table {
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: center;
    }
    td:hover {background-color: #c5c5c5;}
    div.a {
  font-size: large;
}

    
</style>

<div ng-app = "tic-tac-toe" ng-controller = "gameCtrl">
    <table>
      <tr *ngFor = "let row of rows">
        <td *ngFor = "let col of columns" style="height:100px;width:100px" (click) = "setValue(row, col)">
            <h1>{{gridContent[row][col]}}</h1>
        </td>
      </tr>
    </table>
</div>