<div> 
    <div class="status text-center p-4">
        {{ statusMessage }}
    </div>
    <div class="board" 
        *ngFor="let row of [0, 1, 2]">
        <app-cell *ngFor="let col of [0, 1, 2]"
                    [row] = "row"
                    [col] = "col"
                    [piece] = "board[row][col]"
                    (click) = "move(row, col)">
        </app-cell>
    </div>
    <!-- <div class="print"
    *ngFor="let row of [0, 1, 2]">
        <div *ngFor="let col of [0, 1, 2]">
        {{row}}, {{col}}, {{board[row][col]}}
    </div>
    </div> -->

    <!-- This div is for a blank div -->
    <div class="pt-2">

    <div>
        <span> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Select Level  &nbsp;&nbsp;&nbsp;&nbsp; </span>
        <select>
            <option *ngFor="let level of levels">{{level}}</option>
        </select>
    </div>
    <br> 
    </div>
     <!-- New game button is only diplayed when the game is over -->
    <button *ngIf="gameOver"
        class="btn btn-primary new-game"
        (click) = "newGame()">New Game</button>
</div>